# **VARIABLES**

---
---

## **1. VARIABLES**
Variables are values assigned to a name we create. Values are assigned to variable using ( **=** ):

In [34]:
number_five = 5
print(number_five)

my_text = "text"
print(my_text)

5
text

We can also overwrite variables:

In [35]:
number = 1
print(number)

number = 5
print(number)

1
5

We can overwrite variables using the same or other variables:

In [36]:
number = 1
print(number)

number = number + 1
print(number)

number2 = 10
number = number2
print(number)

1
2
10

Defining multiple variables at once:

In [37]:
a, b, c = "text", 6, "hello"

print(a)
print(b)
print(c)

text
6
hello

##### **WARNING**: Using a non-defined before variable causes an error!!!

---

## **2. SINGLE VALUE TYPES**

### **a. INTEGER**
integer type variable.

f.e.:
- 1 
- 50 
- 20109202910

In [38]:
int

int

##### **NOTE:** int type can have other bases than Decimal.

0b / 0B - Binary

In [39]:
print(0b10)

2

0o / 0O - Octal

In [40]:
print(0o10)

8

0x / 0X - Hexadecimal

In [41]:
print(0x10)

16

### **b. FLOAT**
float type variable contains floating-point number

f.e.:
- 1,5
- 3.14159265
- 999999.000001

In [42]:
float

float

##### **NOTE:** float type has its range.

In [43]:
print(float('-inf'))              # negative infinity 
print(-1.8e+308)
print(-1.7976931348623157e+308)   # smallest float that is not negative infinity 

print(-4.9406564584124654e-324)   # biggest negative float that is not zero
print(0)                          # zero duh
print(4.9406564584124654e-324)    # smallest positive float that is not zero

print(1.7976931348623157e+308)    # biggest float that is not positive infinity
print(1.8e+308)
print(float('inf'))               # positive infinity

-inf
-inf
-1.7976931348623157e+308
-5e-324
0
5e-324
1.7976931348623157e+308
inf
inf

### **c. COMPLEX**
complex numbers are specified as [real part] + [imaginary part - j].

f.e.:
- 3j+2
- 13+7j

In [44]:
complex

complex

### **d. STRING**
string type variable contains both letters and number delimited using ( **" "** ) or ( **' '** ).

f.e.:
- "5 foxes", 
- "I hate myself."

In [45]:
str

str

### **e. BOOLEAN**
boolean variable is used to represent the truth value of an expression.
- True - when the value is not empty and different than 0 (f.e.: 'text', "string", 10, 3.14, [1, 2, 3], (a, b ,c), {"word1": "translation1", "word2": "translation2"}).
- False - when the value is empty or equal to 0 (f.e.: '', "", 0, 0.0, [], (), {}, None).

In [46]:
bool

bool

### **f. NONE**
none type is used when variable has no type.

- None

In [47]:
None

---

## **3. COLLECTIONS OF VALUES**
There are variables used to store multiple arguments in one variable.

Variables are divided with ( **,** ).

### **a. LIST**
Delimited using ( **[]** ).

Variables are indexed, the first item has index **[0]**, the second one - **[1]**, etc.

f.e.:

In [48]:
list

some_list = [1, True, "Whatever", 3.14, 3+12j, True]

print(some_list)

[1, True, 'Whatever', 3.14, (3+12j), True]

**List items are:**
- ordered - the items have a defined order, that will not change (unless by using list methods).
- changeable - the items can be changed, added, removed after creating a list.
- allow duplicate values - lists can have items with the same value.

### **b. TUPLE**
Delimited using ( **()** ).

Variables are indexed, the first item has index **[0]**, the second one - **[1]**, etc.

f.e.:

In [49]:
tuple

some_tuple = (1, True, "Whatever", 3.14, 3+12j, True)

print(some_tuple)

(1, True, 'Whatever', 3.14, (3+12j), True)

**Tuple items are:**
- ordered - the items have a defined order, that will not change.
- unchangeable - the items cannot be changed, added, removed after creating a tuple.
- allow duplicate values - tuples can have items with the same value.

### **c. SET**
Delimited using ( **{}** ).

In [50]:
set

some_set = {"text1", "text2", "text3"}

print(some_set)

{'text1', 'text3', 'text2'}

**Set items are:**
- unordered - the items do not have a defined order, that will not change.
- unchangeable - the items cannot be changed, but can be added and removed after creating a set.
- unindexed, does not allow duplicate values - sets cannot have items with the same value (they will be ignored).

### **d. DICTIONARY**
Delimited using ( **{}** )

Stores values in pairs [key]:[value]

Values can be referred using the key name.

f.e.:

In [51]:
dict

some_dictionary = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(some_dictionary)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Dictionary items are:**
- ordered - the items have a defined order, that will not change.
- unchangeable - the items cannot be changed, added, removed after creating a tuple.
- does not allow duplicate values - dictionary cannot have items with the same key.

---

## **3. type()**
Function type() is used to check the type of variable:

In [52]:
some_int = 10
type_of_some_int = type(some_int)
print(type_of_some_int)

<class 'int'>

To make things easier we don't make another variables to store type for such simple code.

We won't make a variable to store a single value either.

We just use a function inside another function, in this case type() in print().

But this is not made according to the rules of clean code, educational purposes only!

In [53]:
print(type(3.14)) 
print(type(3+3j))
print(type("string"))
print(type(False)) 
print(type(["list"]))
print(type(None))

<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'NoneType'>

---

## **4. CHANGING VARIABLE TYPE**

##### **WARNING:** Not every value can be converted to other variable type!!!

**String** can be converted to other variables as long as it represents its values.

f.e. 
- "1"
- "3.14"
- "True"

**Integer** can be converted to str, float and bool (0 is equal to False, everything else is True).

**Float** can be converted to str, int and bool (0.0 is equal to False, everything else is True).

**Boolean** can be converted to str, int and float.

### **a. str()**
str() function is used to convert value type in brackets to string:

In [54]:
some_int = 10
some_float = 3.14
some_bool = False

print(str(some_int), type(str(some_int)))
print(str(some_float), type(str(some_float)))
print(str(some_bool), type(str(some_bool)))

10 <class 'str'>
3.14 <class 'str'>
False <class 'str'>

### **b. int()**
int() function is used to convert value type in brackets to integer:

In [55]:
some_string = "100"
some_float = 3.14
some_bool = False

print(int(some_string), type(int(some_string)))
print(int(some_float), type(int(some_float)))
print(int(some_bool), type(int(some_bool)))

100 <class 'int'>
3 <class 'int'>
0 <class 'int'>

### **c. float()**
float() function is used to convert value type in brackets to float:

In [56]:
some_string = "100"
some_int = 10
some_bool = False

print(float(some_string), type(float(some_string)))
print(float(some_int), type(float(some_int)))
print(float(some_bool), type(float(some_bool)))

100.0 <class 'float'>
10.0 <class 'float'>
0.0 <class 'float'>

### **d. bool()**
bool() function is used to convert value type in brackets to boolean:

In [57]:
some_string = "100"
some_int = 0
some_float = 3.14

print(bool(some_string), type(bool(some_string)))
print(bool(some_int), type(bool(some_int)))
print(bool(some_float), type(bool(some_float)))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

---

## **5. isinstance()**
isinstance() is a function, which takes two values - variable and value type - and checks if the type of variable is equal to the entered value type:

In [58]:
print(isinstance("string", str))

print(isinstance(1, str))

True
False

In [59]:
print(isinstance(100, int))

print(isinstance(1.8, int))

True
False

In [60]:
print(isinstance(1.8, float))

print(isinstance(1, float))
print(isinstance("string", float))

True
False
False

In [61]:
print(isinstance(True, bool))

print(isinstance(1, bool))
print(isinstance(0, bool))
print(isinstance("string", float))

True
False
False
False

---
---